.headerLight {
  position: fixed;
  padding: 15px;
  z-index: 99;
  width: 100%;
  display: flex;
}

.headerDark {
  position: fixed;
  padding: 15px;
  z-index: 99;
  width: 100%;
  display: flex;
  background-color: pink;
}

.menuInit {
  position: fixed;
  visibility: hidden;
  padding-left: 15px;
  padding-right: 15px;
}
.menuSlideIn {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 90;
  animation: slide-in-right 0.2s ease-out both;
  padding-left: 15px;
  padding-right: 15px;
}

.menuSlideOut {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 90;
  animation: slide-in-right-rev 0.5s ease-out both;
  padding-left: 15px;
  padding-right: 15px;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right-rev {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
